body {
    margin: 5%;
    background-color: #000;
}

nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    float: left!important;
    background-color: #fff;
    color: #000;
    box-shadow: 0 1px 5px rgba(0,0,0,1);
    box-sizing: border-box;
    line-height: 50px;
    font-size: 20px;
    padding: 0;
    z-index: 2;
}

nav > a {
    display: block;
    float: left;
    width: auto;
    border: none;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    background-color: inherit;
    color: black;
    padding: 5px 15px;
}

nav > a:hover {
    background-color: #000;
    color: #fff;
}

section {
    background-color: #fff;
    color: #000;
    padding: 2px 30px 30px;
    margin-top: 15px;
    min-width: 300px;
}

section > h3 {
    margin-top: 10px;
    margin-bottom: 20px;
}

section > p, ul {
    text-align: justify;
    margin-left: 10%;
    margin-right: 10%;
}

#player > audio {
    width: 100%;
}
